<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.myfpd">

    <dist:module dist:instant="true" />

    <application
        android:versionCode="1"
        android:versionName="1.0.0"
        android:launchMode="singleTask"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.MyFPD"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".layoutClasses.LayoutHome" android:label="@string/app_name" android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".layoutClasses.LayoutProducts" />
        <activity android:name=".layoutClasses.LayoutAddProduct" />
        <activity android:name=".layoutClasses.LayoutCategories" />
        <activity android:name=".layoutClasses.LayoutAddCategory" />
    </application>

</manifest>